snippet r "require" !
var ${1:localAlias} = require('${2:module}');$0
endsnippet

snippet lam "lambda" !w
function(${1:args}) {
  $0
}
endsnippet

snippet lam; "lambda;" !w
function(${1:args}) {
  $0
};
endsnippet

snippet te "tripple equals" !w
${1:one} === ${2:two}$0
endsnippet

snippet tne "tripple not equals" !w
${1:one} !== ${2:two}$0
endsnippet
